@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: linear-gradient(to right top, #e6875b, #3e6765); 
  background: -webkit-linear-gradient(to right top, #e6875b, #3e6765);
  font-family: 'Cantarell', sans-serif;
  font-family: 'Times New Roman', Times, serif;
}

.times {
  font-family: 'Times New Roman', Times, serif;
}

.bg {
  background: linear-gradient(to right top, #e6875b, #3e6765); 
  background: -webkit-linear-gradient(to right top, #e6875b, #3e6765);
}


.bankdeal{
  width: 50rem;
}

@media (max-width: 768px){
  .bankdeal{
  width: 30rem;
  }
  
}
